@media (max-width: 768px) {
  .primeira-tela {
    background-image: url(../assets/mob.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .primeira-tela .primeira-tela-container {
    margin-right: 0;
    text-align: center;
    align-items: center;
    padding-top: 25%;
    width: 95%;
  }
  .primeira-tela .primeira-tela-container img {
    width: 70%;
  }
  .primeira-tela .primeira-tela-container p {
    font-size: 1.3rem;
  }
  .segunda-tela-container {
    width: 95%;
  }
  .segunda-tela-container p {
    font-size: 1.1rem;
  }
  .terceira-tela-container {
    height: 120vh;
  }
  .terceira-tela-container .futuryxx-vantagens {
    width: 95%;
  }
  .terceira-tela-container .futuryxx-vantagens .linha1, .terceira-tela-container .futuryxx-vantagens .linha2 {
    gap: 2em;
    height: 100%;
    flex-direction: column;
  }
  .terceira-tela-container .futuryxx-vantagens .linha1 .vantagem, .terceira-tela-container .futuryxx-vantagens .linha2 .vantagem {
    height: 100%;
    padding: 2em;
  }
  .quarta-tela {
    background-image: url(../assets/mb3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 65vh;
  }
  .quarta-tela .quarta-tela-container {
    height: 140%;
    width: 80%;
    align-items: center;
    text-align: center;
  }
  .quinta-tela {
    height: 50vh;
    background-image: url(../assets/mob2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }
  .quinta-tela .quinta-tela-container {
    width: 100%;
    text-align: center;
    margin-right: 0;
    margin-top: 50%;
  }
  .quinta-tela .quinta-tela-container p {
    font-size: 1.5rem;
    width: 100%;
  }
  .sexta-tela-container {
    height: 140vh;
  }
  .sexta-tela-container .futuryxx-planos {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .sexta-tela-container .futuryxx-planos .plano {
    width: 90%;
    padding: 1em 0;
  }
  .setima-tela {
    height: 65vh;
  }
  .setima-tela .setima-tela-container {
    gap: 10%;
  }
  .setima-tela .setima-tela-container .setima-tela-garantia {
    flex-direction: column;
    text-align: center;
    gap: 10%;
    height: 100%;
  }
  .setima-tela .setima-tela-container .setima-tela-garantia div {
    width: 90%;
  }
  .setima-tela .setima-tela-container .setima-tela-garantia img {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .primeira-tela .primeira-tela-container p {
    font-size: 1.1rem;
  }
  .primeira-tela .primeira-tela-container a {
    scale: 0.8;
  }
  .segunda-tela-container {
    height: 20vh;
    gap: 1em;
  }
  .segunda-tela-container p {
    font-size: 0.9rem;
  }
  .segunda-tela-container small {
    width: 90%;
    font-size: 0.7rem;
  }
  .terceira-tela-container {
    height: 180vh;
  }
  .quarta-tela {
    height: 35vh;
  }
  .quarta-tela .quarta-tela-container p {
    font-size: 1.3rem;
  }
  .quarta-tela .quarta-tela-container small {
    font-size: 0.8rem;
  }
  .quarta-tela .quarta-tela-container a {
    scale: 0.8;
  }
  .quinta-tela {
    height: 60vh;
  }
  .quinta-tela .quinta-tela-container {
    gap: 0.5em;
  }
  .quinta-tela .quinta-tela-container p {
    font-size: 1.2rem;
  }
  .quinta-tela .quinta-tela-container small {
    font-size: 0.8rem;
  }
  .sexta-tela-container .sexta-tela-textos p {
    font-size: 1.4rem;
  }
  .sexta-tela-container .sexta-tela-textos small {
    font-size: 0.8rem;
    width: 80%;
  }
  .sexta-tela-container .futuryxx-planos .plano p {
    font-size: 1rem;
  }
  .sexta-tela-container .futuryxx-planos .plano small {
    font-size: 0.7rem;
  }
  .sexta-tela-container .futuryxx-planos .plano .preco {
    font-size: 1.8rem;
  }
  .sexta-tela-container .futuryxx-planos .plano .futuryxx-beneficios1 li, .sexta-tela-container .futuryxx-planos .plano .futuryxx-beneficios2 li {
    font-size: 0.7rem;
  }
  .sexta-tela-container .futuryxx-planos .plano .futuryxx-beneficios1 li i, .sexta-tela-container .futuryxx-planos .plano .futuryxx-beneficios2 li i {
    font-size: 0.7rem;
  }
  .setima-tela .setima-tela-container .setima-tela-header p {
    width: 90%;
    font-size: 1rem;
  }
  footer p {
    width: 95%;
    font-size: 0.6rem;
  }
}
@media (max-height: 700px) {
  .segunda-tela-container {
    margin-bottom: 20%;
  }
  .terceira-tela-container {
    gap: 4em;
    height: 220vh;
  }
  .sexta-tela-container {
    height: 150vh;
  }
}
@media (max-height: 500px) {
  body {
    gap: 15em;
  }
}/*# sourceMappingURL=responsiveness.css.map */