@import "./mixings";
$corDestaque: #6201ff;
$corTexto: #ffffff;
$corFundo: #000000;

body {
	@include direction(column);
	gap: 10em;
}

@media (max-width: 869px) {
	.primeira-tela {
		background-image: url(../assets/mob.jpg);
		background-size: contain;
		background-repeat: no-repeat;
		padding-top: 3em;
		background-position: top center;

		.primeira-tela-container {
			align-items: center;
			justify-content: center;
			margin: 0 auto;
			gap: 0;
			height: 100%;

			img {
				position: static;
				width: 350px;
			}

			.primeira-tela-textos {
				@include direction(column);
				text-align: center;
				gap: 1em;
				width: 90%;
				margin-top: 0em;

				p {
					font-size: 0.7rem;
				}

				small,
				p {
					line-height: 1.5em;
				}
			}

			a {
				margin-top: 2.5em;
			}
		}
	}

	.segunda-tela {
		@include direction(column);
		justify-content: center;
		height: 35vh;

		.segunda-tela-container {
			@include direction(column);
			gap: 3em;
			padding-top: 0em;
			align-items: center;
			justify-content: center;
			text-align: center;
			height: 50%;
			width: 80%;
			margin: 0 auto;

			p {
				font-size: 1.3rem;
			}

			small {
				width: 90%;
			}
		}
	}

	.terceira-tela {
		height: 130vh;

		.terceira-tela-container {
			@include direction(column);
			height: 100%;
			align-items: center;
			gap: 2em;
			padding-top: 0em;

			.futuryxx-vantagens {
				@include direction(column);
				align-items: center;
				width: 100%;
                height: 100%;
				gap: 2em;

				.linha1,
				.linha2 {
					@include direction(column);
					gap: 2em;
					justify-content: center;
					align-items: center;
					width: 100%;
                    height: 100%;

					.vantagem {
						@include direction(column);
						position: relative;
						align-items: center;
						justify-content: center;
						text-align: center;
						padding: 2em;
						width: 90%;
                        height: 100%;

						.vantagem-icon {
							@include direction(row);
							justify-content: center;
							align-items: center;
							position: absolute;
							top: -20px;
							width: 30px;
							height: 30px;
							font-size: 1rem;
						}
					}
				}
			}
		}
	}

	.quarta-tela {
		@include direction(row);
		justify-content: center;
		height: 60vh;
		background-image: url(../assets/mb3.jpg);
		background-size: cover;

		.quarta-tela-container {
			@include direction(column);
			width: 100%;
			height: 100%;
			text-align: center;
			justify-content: center;
			align-items: center;
			gap: 2em;
			margin-left: 0em;

			p {
				font-size: 1.5rem;
			}

			small {
				line-height: 1.3rem;
			}

			a {
				width: 60%;
			}
		}
	}

	.quinta-tela {
		@include direction(column);
		align-items: flex-end;
		justify-content: center;
		height: 55vh;
		background-image: url(../assets/mob2.jpg);
		background-size: cover;
		background-position: center center;

		.quinta-tela-container {
			@include direction(column);
			align-items: center;
			text-align: center;
			padding: 1em;
			margin-right: 0em;
			margin: 0 auto;
			width: 80%;
			gap: 2em;

			p {
				font-size: 1.7rem;
			}

			small {
				line-height: 1.3rem;
			}
		}
	}

	.sexta-tela {
		.sexta-tela-container {
			@include direction(column);
			align-items: center;
            justify-content: center;
			text-align: center;
			margin: 0 auto;
			gap: 4em;
			height: 100%;
			width: 100%;
			padding: 3em;

			.sexta-tela-textos {
				@include direction(column);
				gap: 1em;
                height: 15%;

				p {
					font-size: 1.4rem;
				}

                small {
                    font-size: 0.7rem
                }
			}

			.futuryxx-planos {
				@include direction(column);
				align-items: center;
				gap: 1em;
				height: 85%;
				width: 100%;

				.plano {
					@include direction(column);
                    gap: 1em;
					justify-content: space-around;
					align-items: center;
					width: 100%;
					height: 100%;
                    padding: 1em;
					transition-duration: 0.3s;

					p {
						font-size: 1.3rem;
					}

					.futuryxx-beneficios1,
					.futuryxx-beneficios2 {
						width: 80%;
						font-weight: bold;
						text-align: left;
						line-height: 1.7rem;

						li {
							@include direction(row);
							align-items: center;
							gap: 1em;
							justify-content: flex-start;
							font-size: 0.8rem;

							i {
								font-size: 1rem;
							}
						}
					}

					.futuryxx-beneficios1 {
						i {
							color: $corDestaque;
						}
					}

                    a {
                        white-space: nowrap;
                        width: 90%;
                        font-size: 0.8rem;
                    }

					&:hover {
						width: 100%;
						box-shadow: 0 0 20px 2px #8133ff;
					}
				}
			}
		}
	}

	.setima-tela {
		background-image: url(../assets/setimaTela.png);
		background-size: cover;

		.setima-tela-container {
			@include direction(column);
			height: 100%;
			align-items: center;
			justify-content: center;
			gap: 10em;
			-webkit-backdrop-filter: brightness();
			backdrop-filter: brightness(40%);

			.setima-tela-garantia {
				@include direction(column);
				width: 100%;
				justify-content: center;
				align-items: center;
				gap: 3em;

				div {
					@include direction(column);
					width: 65%;
					gap: 2em;
					text-align: center;

					p {
						font-size: 1.6rem;
					}

					small {
						line-height: 1.3rem;
					}
				}
			}

			.premium-icon {
				width: 50%;
			}
		}
	}

	.oitava-tela {

		gap: 2em;

		p {
			font-size: 1.3rem;
		}

		a {
			@include direction(row);
			justify-content: center;
			gap: 0.4em;

			img {
				width: 20px;
			}
		}
	}
}

@media (max-width: 500px) {
    .primeira-tela {
		background-image: url(../assets/mob.jpg);
		background-size: contain;
		background-repeat: no-repeat;
		padding-top: 3em;
		background-position: top center;

		.primeira-tela-container {
			align-items: center;
			justify-content: center;
			margin: 0 auto;
			gap: 0;
			height: 100%;

			img {
				position: static;
				width: 350px;
			}

			.primeira-tela-textos {
				@include direction(column);
				text-align: center;
				gap: 1em;
				width: 90%;
				margin-top: 0em;

				p {
					font-size: 0.7rem;
				}

				small,
				p {
					line-height: 1.5em;
				}
			}

			a {
				margin-top: 2.5em;
                font-size: 0.7rem;
			}
		}
	}

    .terceira-tela {
		height: 140vh;

		.terceira-tela-container {
			@include direction(column);
			height: 100%;
			align-items: center;
			gap: 2em;
			padding-top: 0em;

			.futuryxx-vantagens {
				@include direction(column);
				align-items: center;
				width: 100%;
                height: 100%;
				gap: 2em;

				.linha1,
				.linha2 {
					@include direction(column);
					gap: 2em;
					justify-content: center;
					align-items: center;
					width: 100%;
                    height: 100%;

					.vantagem {
						@include direction(column);
						position: relative;
						align-items: center;
						justify-content: center;
						text-align: center;
						padding: 2em;
						width: 90%;
                        height: 100%;

						.vantagem-icon {
							@include direction(row);
							justify-content: center;
							align-items: center;
							position: absolute;
							top: -20px;
							width: 30px;
							height: 30px;
							font-size: 1rem;
						}
					}
				}
			}
		}

        a {
            font-size: 0.7rem
        }
	}

    .quarta-tela {
		@include direction(row);
		justify-content: center;
		height: 60vh;
		background-image: url(../assets/mb3.jpg);
		background-size: cover;

		.quarta-tela-container {
			@include direction(column);
			width: 100%;
			height: 100%;
			text-align: center;
			justify-content: center;
			align-items: center;
			gap: 2em;
			margin-left: 0em;

			p {
				font-size: 1rem;
                width: 70%;
			}

			small {
                font-size: 0.7rem;
				line-height: 1rem;
                width: 70%;
			}

			a {
				width: 50%;
                font-size: 0.7rem;
			}
		}
	}

    .sexta-tela {
		.sexta-tela-container {
			@include direction(column);
			align-items: center;
            justify-content: center;
			text-align: center;
			margin: 0 auto;
			gap: 4em;
			height: 100%;
			width: 100%;
			padding: 3em;

			.sexta-tela-textos {
				@include direction(column);
				gap: 1em;
                height: 15%;

				p {
					font-size: 1rem;
				}

                small {
                    font-size: 0.6rem
                }
			}

			.futuryxx-planos {
				@include direction(column);
				align-items: center;
				gap: 1em;
				height: 85%;
				width: 100%;

				.plano {
					@include direction(column);
                    gap: 1em;
					justify-content: space-around;
					align-items: center;
					width: 100%;
					height: 100%;
                    padding: 1em;
					transition-duration: 0.3s;

					p {
						font-size: 1rem;
					}

					.preco {
						font-size: 1.2rem;
					}

					.futuryxx-beneficios1,
					.futuryxx-beneficios2 {
						width: 80%;
						font-weight: bold;
						text-align: left;
						line-height: 1.3rem;

						li {
							@include direction(row);
							align-items: center;
							gap: 1em;
							justify-content: flex-start;
							font-size: 0.7rem;

							i {
								font-size: 0.8rem;
							}
						}
					}

					.futuryxx-beneficios1 {
						i {
							color: $corDestaque;
						}
					}

                    a {
                        white-space: nowrap;
                    }

					&:hover {
						width: 100%;
						box-shadow: 0 0 20px 2px #8133ff;
					}
				}
			}
		}
	}

    .oitava-tela {
        @include direction (column);
        text-align: center;
        align-items: center;
        width: 100%;
        gap: 3em;
    
        p {
            font-size: 1.2rem;
            width: 80%;
        }
    
        a {
            @include direction (row);
            font-size: 0.8rem;
            align-items: center;
            justify-content: center;
            gap: 0.4em;
    
            img {
                width: 20px;
            }
        }
    }
}

@media (max-width: 350px) {
    .primeira-tela {
		padding-top: 0em;
        height: 70vh;

		.primeira-tela-container {
			align-items: center;
			justify-content: center;
			margin: 0 auto;
			gap: 0;
			height: 100%;

			img {
				position: static;
				width: 200px;
			}

			.primeira-tela-textos {
				@include direction(column);
				text-align: center;
				gap: 1em;
				width: 90%;
				margin-top: 0em;

				p {
					font-size: 0.7rem;
				}

				small,
				p {
					line-height: 1.5em;
				}
			}

			a {
				margin-top: 2.5em;
                font-size: 0.7rem;
			}
		}
	}

    .segunda-tela {
		@include direction(column);
		justify-content: center;
		height: 35vh;

		.segunda-tela-container {
			@include direction(column);
			gap: 3em;
			padding-top: 0em;
			align-items: center;
			justify-content: center;
			text-align: center;
			height: 50%;
			width: 80%;
			margin: 0 auto;

			p {
				font-size: 1rem;
			}

			small {
				width: 90%;
                font-size: 0.7rem;
			}
		}
	}

    .terceira-tela {
		height: 140vh;

		.terceira-tela-container {
			@include direction(column);
			height: 100%;
			align-items: center;
			gap: 2em;
			padding-top: 0em;

            h1 {
                font-size: 1.2rem
            }

			.futuryxx-vantagens {
				@include direction(column);
				align-items: center;
				width: 100%;
                height: 100%;
				gap: 2em;

				.linha1,
				.linha2 {
					@include direction(column);
					gap: 2em;
					justify-content: center;
					align-items: center;
					width: 100%;
                    height: 100%;

					.vantagem {
						@include direction(column);
						position: relative;
						align-items: center;
						justify-content: center;
						text-align: center;
						padding: 2em;
						width: 90%;
                        height: 100%;
                        font-size: 0.6rem;

						.vantagem-icon {
							@include direction(row);
							justify-content: center;
							align-items: center;
							position: absolute;
							top: -20px;
							width: 30px;
							height: 30px;
							font-size: 1rem;
						}
					}
				}
			}
		}

        a {
            font-size: 0.7rem
        }
	}

    .quarta-tela {
		@include direction(row);
		justify-content: center;
		height: 60vh;
		background-image: url(../assets/mb3.jpg);
		background-size: cover;

		.quarta-tela-container {
			@include direction(column);
			width: 100%;
			height: 100%;
			text-align: center;
			justify-content: center;
			align-items: center;
			gap: 2em;
			margin-left: 0em;

			p {
				font-size: 1rem;
                width: 70%;
			}

			small {
                font-size: 0.7rem;
				line-height: 1rem;
                width: 70%;
			}

			a {
				width: 70%;
                font-size: 0.7rem;
			}
		}
	}

    .quinta-tela {
		@include direction(column);
		align-items: flex-end;
		justify-content: center;
		height: 55vh;
		background-image: url(../assets/mob2.jpg);
		background-size: cover;
		background-position: center center;

		.quinta-tela-container {
			@include direction(column);
			align-items: center;
			text-align: center;
			padding: 1em;
			margin-right: 0em;
			margin: 0 auto;
			width: 80%;
			gap: 2em;

			p {
				font-size: 1rem;
			}

			small {
				line-height: 1rem;
			}
		}
	}

    .sexta-tela {
		.sexta-tela-container {
			@include direction(column);
			align-items: center;
            justify-content: center;
			text-align: center;
			margin: 0 auto;
			gap: 4em;
			height: 100%;
			width: 100%;
			padding: 3em;

			.sexta-tela-textos {
				@include direction(column);
				gap: 1em;
                height: 15%;

				p {
					font-size: 0.8rem;
				}

                small {
                    font-size: 0.6rem
                }
			}

			.futuryxx-planos {
				@include direction(column);
				align-items: center;
				gap: 1em;
				height: 85%;
				width: 100%;

				.plano {
					@include direction(column);
                    gap: 1em;
					justify-content: space-around;
					align-items: center;
					width: 100%;
					height: 300px;
                    padding: 1em;
					transition-duration: 0.3s;

					p {
						font-size: 1rem;
					}

					.futuryxx-beneficios1,
					.futuryxx-beneficios2 {
						width: 90%;
						font-weight: bold;
						text-align: left;
						line-height: 1.1rem;

						li {
							@include direction(row);
							align-items: center;
							gap: 1em;
							justify-content: flex-start;
							font-size: 0.6rem;

							i {
								font-size: 0.8rem;
							}
						}
					}

					.futuryxx-beneficios1 {
						i {
							color: $corDestaque;
						}
					}

                    a {
                        white-space: nowrap;
                        font-size: 0.6rem;
                        width: 95%;
                    }

					&:hover {
						width: 100%;
						box-shadow: 0 0 20px 2px #8133ff;
					}
				}
			}
		}
	}

    .setima-tela {
		height: 50vh;
		background-image: url(../assets/setimaTela.png);
		background-size: cover;

		.setima-tela-container {
			@include direction(column);
			height: 100%;
			align-items: center;
			justify-content: center;
			gap: 10em;
			-webkit-backdrop-filter: brightness();
			backdrop-filter: brightness(40%);

            .setima-tela-header {
                p {
                    font-size: 0.8rem;
                }
            }

			.setima-tela-garantia {
				@include direction(column);
				width: 100%;
				justify-content: center;
				align-items: center;
				gap: 3em;

				div {
					@include direction(column);
					width: 65%;
					gap: 2em;
					text-align: center;

					p {
						font-size: 1rem;
					}

					small {
						line-height: 1rem;
                        font-size: 0.6rem;
					}
				}
			}

			.premium-icon {
				width: 60%;
			}
		}
	}

    .oitava-tela {
        width: 100%;
        gap: 3em;
    
        p {
            font-size: 1rem;
            width: 80%;
        }
    
        a {
            @include direction (row);
            font-size: 0.8rem;
            align-items: center;
            justify-content: center;
            gap: 0.4em;
            width: 70%;
            white-space: nowrap;

            img {
                width: 15px;
            }
        }
    }
}

@media (max-height: 585px) {
    .primeira-tela {
        height: 200vh;   
    }

    .setima-tela {
		height: 70vh;
		background-image: url(../assets/setimaTela.png);
		background-size: cover;

		.setima-tela-container {
			@include direction(column);
			height: 100%;
			align-items: center;
            margin-top: 10em;
			justify-content: center;
			gap: 10em;
			-webkit-backdrop-filter: brightness();
			backdrop-filter: brightness(40%);

			.setima-tela-garantia {
				@include direction(column);
				width: 100%;
				justify-content: center;
				align-items: center;
				gap: 3em;

				div {
					@include direction(column);
					width: 65%;
					gap: 2em;
					text-align: center;

					p {
						font-size: 1rem;
					}

					small {
						line-height: 1rem;
                        font-size: 0.6rem;
					}
				}
			}

			.premium-icon {
				width: 60%;
			}
		}
    }

    .terceira-tela {
        height: 160vh;

        .terceira-tela-container {
            @include direction(column);
            height: 100%;
            align-items: center;
            gap: 2em;
            padding-top: 0em;

            h1 {
                font-size: 1.2rem
            }
            
            a {
                margin-top: 2em
            }

            .futuryxx-vantagens {
                @include direction(column);
                align-items: center;
                width: 100%;
                height: 100%;
                gap: 2em;


                .linha1,
                .linha2 {
                    @include direction(column);
                    gap: 2em;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    .vantagem {
                        @include direction(column);
                        position: relative;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        padding: 2em;
                        width: 90%;
                        height: 100%;
                        font-size: 0.6rem;

                        .vantagem-icon {
                            @include direction(row);
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            top: -20px;
                            width: 30px;
                            height: 30px;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
	}

    .oitava-tela {
        height: 130vh;
    }
}