@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Sora", sans-serif;
}

body {
  background-color: #000000;
  overflow-x: hidden;
}

a {
  display: flex;
  justify-content: center;
  padding: 1em 2.5em;
  text-decoration: none;
  transition-duration: 0.3s;
}

.primeira-tela {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/bg1-min-scaled.jpg);
  height: 70vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center top;
}
.primeira-tela .primeira-tela-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85%;
  margin-right: 42em;
  width: 25%;
  gap: 2em;
}
.primeira-tela .primeira-tela-container img {
  width: 200px;
}
.primeira-tela .primeira-tela-container p {
  font-size: 1.5rem;
}
.primeira-tela .primeira-tela-container small {
  font-size: 0.9rem;
}
.primeira-tela .primeira-tela-container small, .primeira-tela .primeira-tela-container p {
  line-height: 1.5em;
}
.primeira-tela .primeira-tela-container a {
  width: 20em;
  white-space: nowrap;
}

.segunda-tela-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 25vh;
  width: 50%;
  margin: 0 auto;
}
.segunda-tela-container p {
  font-size: 1.3rem;
}
.segunda-tela-container small {
  width: 60%;
  font-size: 0.9rem;
}
.segunda-tela-container p, .segunda-tela-container small {
  line-height: 1.5em;
}

.terceira-tela-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2em;
  height: 75vh;
}
.terceira-tela-container h1 {
  font-size: 1.5rem;
}
.terceira-tela-container .futuryxx-vantagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 27em;
  gap: 2em;
}
.terceira-tela-container .futuryxx-vantagens .linha1, .terceira-tela-container .futuryxx-vantagens .linha2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1em;
  justify-content: space-around;
  width: 100%;
  height: 50%;
}
.terceira-tela-container .futuryxx-vantagens .linha1 .vantagem, .terceira-tela-container .futuryxx-vantagens .linha2 .vantagem {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
}
.terceira-tela-container .futuryxx-vantagens .linha1 .vantagem .vantagem-icon, .terceira-tela-container .futuryxx-vantagens .linha2 .vantagem .vantagem-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
  width: 40px;
  height: 40px;
  font-size: 1.3rem;
}
.terceira-tela-container .futuryxx-vantagens .linha1 .vantagem p, .terceira-tela-container .futuryxx-vantagens .linha2 .vantagem p {
  width: 85%;
  font-size: 0.9rem;
  line-height: 1.5em;
}

.quarta-tela {
  height: 60vh;
  background-image: url(../assets/bg2-scaled.jpg);
  background-size: cover;
}
.quarta-tela .quarta-tela-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  justify-content: center;
  gap: 2em;
  margin-left: 20em;
}
.quarta-tela .quarta-tela-container p {
  font-size: 1.5rem;
}
.quarta-tela .quarta-tela-container small {
  line-height: 1.3rem;
}
.quarta-tela .quarta-tela-container a {
  width: 18em;
  white-space: nowrap;
}

.quinta-tela {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 47vh;
  background-image: url(../assets/bg-scaled.jpg);
  background-size: cover;
}
.quinta-tela .quinta-tela-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8078431373);
  padding: 2em;
  margin-right: 20em;
  width: 30%;
  gap: 2em;
}
.quinta-tela .quinta-tela-container p {
  font-size: 1.7rem;
}
.quinta-tela .quinta-tela-container small {
  line-height: 1.3rem;
  font-size: 0.9rem;
}

.sexta-tela-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  gap: 3em;
  height: 98vh;
  width: 100vw;
}
.sexta-tela-container .sexta-tela-textos {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}
.sexta-tela-container .sexta-tela-textos p {
  font-size: 1.8rem;
}
.sexta-tela-container .sexta-tela-textos small {
  width: 53%;
  font-size: 0.9rem;
}
.sexta-tela-container .futuryxx-planos {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  height: 72%;
}
.sexta-tela-container .futuryxx-planos .plano {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3em 0;
  align-items: center;
  width: 25em;
  height: 100%;
  transition-duration: 0.3s;
}
.sexta-tela-container .futuryxx-planos .plano p {
  font-size: 1.3rem;
}
.sexta-tela-container .futuryxx-planos .plano .preco {
  font-size: 2rem;
}
.sexta-tela-container .futuryxx-planos .plano .futuryxx-beneficios1, .sexta-tela-container .futuryxx-planos .plano .futuryxx-beneficios2 {
  width: 80%;
  font-weight: bold;
  text-align: left;
  line-height: 1.7rem;
}
.sexta-tela-container .futuryxx-planos .plano .futuryxx-beneficios1 li, .sexta-tela-container .futuryxx-planos .plano .futuryxx-beneficios2 li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  justify-content: flex-start;
  font-size: 0.8rem;
}
.sexta-tela-container .futuryxx-planos .plano .futuryxx-beneficios1 li i, .sexta-tela-container .futuryxx-planos .plano .futuryxx-beneficios2 li i {
  font-size: 1rem;
}
.sexta-tela-container .futuryxx-planos .plano .futuryxx-beneficios1 i {
  color: #6201ff;
}
.sexta-tela-container .futuryxx-planos .plano:hover {
  scale: 1.02;
  box-shadow: 0 0 20px 2px #8133ff;
}

.setima-tela {
  height: 80vh;
  background-image: url(../assets/setimaTela.png);
  background-size: cover;
}
.setima-tela .setima-tela-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 10em;
  -webkit-backdrop-filter: brightness();
  backdrop-filter: brightness(40%);
}
.setima-tela .setima-tela-container .setima-tela-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.setima-tela .setima-tela-container .setima-tela-header p {
  font-size: 1.6rem;
  text-align: center;
}
.setima-tela .setima-tela-container .setima-tela-header a {
  width: 50%;
}
.setima-tela .setima-tela-container .setima-tela-garantia {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10em;
}
.setima-tela .setima-tela-container .setima-tela-garantia div {
  display: flex;
  flex-direction: column;
  width: 18%;
  gap: 2em;
}
.setima-tela .setima-tela-container .setima-tela-garantia div p {
  font-size: 1.6rem;
}
.setima-tela .setima-tela-container .setima-tela-garantia div small {
  line-height: 1.5rem;
}
.setima-tela .setima-tela-container .premium-icon {
  width: 22%;
}

.oitava-tela {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  gap: 3em;
}
.oitava-tela p {
  font-size: 1.5rem;
  text-align: center;
  width: 30%;
}
.oitava-tela a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.4em;
}
.oitava-tela a img {
  width: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin-top: 3em;
  width: 100%;
  background-color: #575757;
  padding: 2em;
  text-align: center;
}
footer p {
  width: 50%;
  font-size: 0.7rem;
  line-height: 1.1rem;
}

.fundo-destaque {
  background-color: #7926ff;
}

.fundo-destaque2 {
  background-color: #ffffff;
  color: #6201ff;
}

.sombra-destaque {
  box-shadow: 0 0 10px #6201ff;
}

.sombra-destaque2 {
  box-shadow: 0 0 10px #000000;
}

.borda-destaque {
  border: 5px solid #6201ff;
}

.texto-destaque {
  font-weight: bold;
}

.hover-destaque:hover {
  background-color: #4c00c5;
}

.hover-destaque2:hover {
  scale: 1.03;
}/*# sourceMappingURL=styles.css.map */