@import "./mixings";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

// root
$corDestaque: #6201ff;
$corTexto: #ffffff;
$corFundo: #000000;

// ajustes
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $corTexto;
    font-family: "Sora", sans-serif;
}

body {
    @include direction (column);
    gap: 6em;
    background-color: $corFundo;
    overflow-x: hidden;
}

a {
    display: flex;
    justify-content: center;
    padding: 1em 2.5em;
    text-decoration: none;
    transition-duration: 0.3s;
}

// telas
.primeira-tela {
    @include direction (column);
    background-image: url(../assets/bg1-min-scaled.jpg);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center top;
    
    .primeira-tela-container {
        @include direction (column);
        justify-content: center;
        height: 85%;
        margin-right: 50%;
        width: 35%;
        gap: 2em;

        img {
            width: 200px;
        }

        p {
            font-size: 1.5rem;
        }

        small {
            font-size: 0.9rem;
        }

        small, p {
            line-height: 1.5em;
        }
        

        a {
            width: 20em;
            white-space: nowrap;
        }
    }
}

.segunda-tela-container {
    @include direction (column);
    gap: 3em;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 25vh;
    width: 60%;
    margin: 0 auto;

    p {
        font-size: 1.3rem;
    }

    small {
        width: 70%;
        font-size: 0.9rem;
    }
    
    p, small {
        line-height: 1.5em;
    }
}

.terceira-tela-container {
    @include direction (column);
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2em;
    width: 100vw;
    height: 90vh;

    h1 {
        font-size: 1.5rem
    }

    .futuryxx-vantagens {
        @include direction (column);
        align-items: center;
        width: 65%;
        height: 100%;
        gap: 2em;

        .linha1, .linha2 {
            @include direction (row);
            width: 100%;
            gap: 1em;
            justify-content: space-around;
            width: 100%;
            height: 100%;

            .vantagem {
                @include direction (column);
                position: relative;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 100%;
                font-size: 0.8rem;

                .vantagem-icon {
                    @include direction (row);
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: -20px;
                    width: 40px;
                    height: 40px;
                    font-size: 1.3rem;
                }

                p {
                    width: 90%;
                    font-size: 0.9rem;
                    line-height: 1.5em;
                }
            }
        }
    }
}

.quarta-tela {
    height: 75vh;
    background-image: url(../assets/bg2-scaled.jpg);
    background-size: cover;
    background-position: center;

    .quarta-tela-container {
        @include direction (column);
        width: 25%;
        height: 100%;
        justify-content: center;
        gap: 2em;
        margin-left: 10%;

        p {
            font-size: 1.5rem
        }

        small {
            line-height: 1.3rem;
        }

        a {
            width: 18em;
            white-space: nowrap;
        }
    }
}

.quinta-tela {
    @include direction (column);
    align-items: flex-end;
    justify-content: center;
    height: 70vh;
    background-image: url(../assets/bg-scaled.jpg);
    background-size: cover;
    background-position: center;

    .quinta-tela-container {
        @include direction (column);
        background-color: #00000096;
        padding: 2em;
        margin-right: 12%;
        width: 35%;
        gap: 2em;

        p {
            font-size: 1.7rem;
        }

        small {
            line-height: 1.3rem;
            font-size: 0.9rem;
        }
    }
}

.sexta-tela-container {
    @include direction (column);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    gap: 3em;
    height: 115vh;
    width: 100vw;

    .sexta-tela-textos {
        @include direction (column);
        gap: 2em;
        align-items: center;
        
        p {
            font-size: 1.8rem
        }

        small {
            width: 53%;
            font-size: 0.9rem
        }
    }
    
    .futuryxx-planos {
        @include direction (row);
        // align-items: center;
        gap: 1.5em;
        height: 72%;
        
        .plano {
            @include direction (column);
            justify-content: space-between;
            padding: 3em 0;
            align-items: center;
            width: 25em;
            height: 80%;
            transition-duration: 0.3s;

            p {
                font-size: 1.3rem
            }

            .preco {
                font-size: 2.4rem;
            }

            .futuryxx-beneficios1, .futuryxx-beneficios2 {
                width: 80%;
                font-weight: bold;
                text-align: left;
                line-height: 1.7rem;

                li {
                    @include direction (row);
                    align-items: center;
                    gap: 1em;
                    justify-content: flex-start;
                    font-size: 0.8rem;

                    i {
                        font-size: 1rem;
                    }
                }
            }

            .futuryxx-beneficios1 {
                i {
                    color: $corDestaque;
                }
            }

            a {
                @include direction (column);
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                width: 95%;
                height: 3em;
            }

            &:hover {
                scale: (1.02);
                box-shadow: 0 0 20px 2px #8133ff;
            }
        }

        .plano2 {
            height: 70% !important;
        }
    }
}


.setima-tela {
    @include direction (column);
    height: 95vh;
    background-image: url(../assets/setimaTela.png);
    background-size: cover;

    .setima-tela-container {
        @include direction (column);
        height: 100%;
        align-items: center;
        justify-content: center;
        gap: 10em;
        -webkit-backdrop-filter: brightness();
        backdrop-filter: brightness(40%);

        .setima-tela-header {
            @include direction (column);
            align-items: center;
            gap: 1em;

            p {
                font-size: 1.8rem;
                text-align: center;
            }

            a {
                text-align: center;
                width: 70%;
                white-space: nowrap;
            }
        }

        .setima-tela-garantia {
            @include direction (row);
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 10em;

            div {
                @include direction (column);
                width: 18%;
                gap: 2em;

                p {
                    font-size: 1.6rem;
                }

                small {
                    font-size: 0.9rem;
                    line-height: 1.5rem;
                }
            }
        }

        .premium-icon {
            width: 25%;
        }
    }
}

.oitava-tela {
    @include direction (column);
    justify-content: center;
    align-items: center;
    height: 20vh;
    gap: 3em;

    p {
        font-size: 1.5rem;
        text-align: center;
        width: 80%;
    }

    a {
        @include direction (row);
        justify-content: center;
        white-space: nowrap;
    }
}

footer {
    @include direction (column);
    gap: 1em;
    align-items: center;
    margin-top: 3em;
    width: 100%;
    background-color: #575757;
    padding: 1em;
    text-align: center;

    p {
        width: 75%;
        font-size: 0.7rem;
        line-height: 1.1rem;
    }
}

// estilos
.fundo-destaque {
    background-color: #7926ff;
}

.fundo-destaque2 {
    background-color: $corTexto;
    color: $corDestaque;
}

.sombra-destaque {
    box-shadow: 0 0 10px $corDestaque;
}

.sombra-destaque2 {
    box-shadow: 0 0 10px $corFundo;
}

.borda-destaque {
    border: 5px solid $corDestaque;
}

.texto-destaque {
    font-weight: bold;
}

.hover-destaque {
    &:hover {
        background-color: #4c00c5;
    }
}

.hover-destaque2 {
    &:hover {
        scale: (1.03);
    }
}